* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  font-family: Sour Gummy, sans-serif;
  background-color: #ffffff;
}


main {
  padding: 1rem;
  text-align: center;
}

canvas {
  display: block;
  border: 2.5px solid;
  border-radius: 0.25rem;
}

i {
  padding: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 2rem;
}


input[type="color"] {
  width: 10rem;
  height: 2rem;
  background: none;
}

.colorPicker {
  z-index: 10;
  position: absolute;
  border-radius: 0.25rem;
  border: 2.5px solid;
}
